@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-grey-primary: #f0f0f0;
  --color-yellow-primary: goldenrod;   
  --color-orange-primary: darkorange;
  --color-green-primary: mediumseagreen;
}

 
html{
  font-size: 62.5%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App{
  display: grid;
  align-items: center;
  grid-template-columns: 350px 350px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  height: 100vh;
}

.productList{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.productCard{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: none;
  padding: 1rem;
  padding-left: 0rem;
  width: 30rem;
  height:10;
  transition: 0.2s;
}

.productCard:hover{
  transform: translateY(-0.5rem);
  box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
}

.productImage{
  display: block;
  max-width:82px;
  max-height:95px;
  width: auto;
  height: auto;
} 

.productCard__cart{
  position: absolute;
  right: 0;
  transition: 0.2s;
  cursor: pointer;
}



/* my turn */
.productCard__content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content:flex-start;
  margin: 0rem;
  min-height:95px;
  margin-top: 0;
  padding: 0.6rem;
  padding-left: 1rem;
  background-color: rgba(255, 255, 255, 0);
  font-size: larger;
}
.productName{
  font-size: 1.8rem;
  margin-top: -0.4rem;
  margin-bottom: 0rem;
}
.productCompletes{
  margin: 0;
  padding: 0.1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: rgba(0, 0, 0, 0.795);
  width: fit-content;
  color: #f0f0f0;
  font-weight: 700;

}
.productMinutes{
  margin: 0;
}
.productQualification{
  margin: 0;
  
}

.minutes-container{
  display: flex;
  flex-direction: row;
}
.qualification-container{
  display: flex;
  flex-direction: row;

}

.button {
  width: 30rem;
  background-color: #d45099;
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0;
  cursor: pointer;
  border-radius: 8px;
}
/* buttom */
/* .btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-700;
} */

@media only screen and (max-width: 600px) {
  .App{
    display: grid;
    align-items: center;
    grid-template-columns: 350px ;
    justify-content: center;
    background-color: rgb(255, 255, 255);


    
  }
  .productList{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
    background-color: #ffffff;
  }
}